.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1.5rem;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #d9b434; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  gap: 1rem; /* Espaço entre imagem e título */
 
  background: linear-gradient(to top, #d9b434, #bdb17c68);
}

.header-content img {
  max-width: 80px;
  height: auto;
  border-radius: 45px;
  transition: transform 0.3s ease;
}

.header-content img:hover {
  transform: scale(1.05);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin: 0;
}

/* Estilo da lista de navegação */
.header-content ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin-left: auto;
  padding: 0;
}

.header-content ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
   transition: color 0.3s ease, font-size 0.3s ease;
}

.header-content ul li a:hover {
  color: black;
 font-size: 1.1rem;

}



/* 📱 Responsividade para telas menores */
@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    width: 100%;
    overflow-x: hidden;
  }

  header {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
  }

  .header-content img {
    width: 80px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .header-content ul {
    flex-direction: row;         /* Mantém a lista em linha */
    justify-content: center;
    margin: 0.2rem 0 0;
    gap: 0.5rem;
     justify-content: flex-start; /* Alinha tudo à esquerda */
  }

  .header-content ul li a {
    font-size: 1rem;
    
  }
}

