 *{
  margin: 0;
  padding: 0;
 box-sizing: border-box;

}

body, html {
  margin: 0;
  padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  font-style: 62.5%;
  /* corresponde a 10px */
}

main{
  
    margin: 0;
   
}
body{
  background-color: hsla(60, 100%, 93%, 0.433);
   font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
text-align: center;
margin: 2rem;

}
button{
  margin: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}




/* .color1 { background-color:#ead984; }
.color2 { background-color:#efe399; }
.color3 { background-color:#f4ecae; }
.color4 { background-color:#faf6c4; }
.color5 { background-color:#ffffd9; }
.color1 { background-color:#d9b434 };
.color2 {background-color: #e3c74d };
.color3 {background-color: #ecda66 };
.color4 {background-color: #f6ec7f };
.color5 {background-color: #ffff98 };
.color1 { background-color:#6a6999 };
.color2 {background-color: #515280 };
.color3 { background-color:#383b66 };
.color4 {background-color: #1f254d };
.color5 { background-color:#060e34 };
.color1 {background-color: #2d452c };
.color2 {background-color: #556e54 };
.color3 {background-color: #7c977b };
.color4 {background-color: #a4c0a3 };
.color5 {background-color: #cce9ca }; */

